In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

# 1) write a function "prime" which will give output like the following.

In [2]:
def prime(a):
    for i in range(2,a):
        if a%i==0:
            print("not_prime" )
            return
        else:
            print("prime")
            return

In [3]:
prime(23)

prime

In [4]:
prime(20)

not_prime

# 2) do the same exercise using  lambda function if you have solved it without using lambda function

In [39]:
f=lambda x:len([i for i in range(2,x) if x%i==0])==0

In [41]:
f(23)

True

In [42]:
f(22)

False

In [51]:
lambda x: [(i for i in range(x))]

# 3)

# If a word, phrase, or sequence that reads the same backwards as forward  then we call it a palindrome. for example "abba" and "abcba" are palindromes

# write a function that will detect palindromes like the function

In [8]:
def palindrome(str):
    if(str==str[::-1]):
        print("palindrome")
    else:
        print("not_palindrome")

In [9]:
palindrome("abba")

palindrome

In [10]:
palindrome("abcba")

palindrome

In [11]:
palindrome("abcbav")

not_palindrome

# 4) do the same above exercise using lambda function if you have solved it without using lambda function

In [35]:

X=lambda X: "palindrome" if X==X[::-1] else "not_palindrome"

In [36]:
palindrome("abba")

palindrome

In [37]:
palindrome("abcba")

palindrome

In [38]:
palindrome("abcbav")

not_palindrome

# 5)

# LCM: the smallest number that is a multiple of each of two  numbers

# implement LCM using lambda function

In [13]:
def LCM(x,y):
    if x>y:
        greater=x
    else:
        greater=y
    while(True):
        if((greater%x==0) and (greater%y==0)):
            LCM=greater
            break
        greater+=1
    return LCM

In [89]:
LCM(10,12)

60

In [90]:
LCM(10,13)

130

# 6)

In [2]:
import numpy as np
import pandas as pd 
from sklearn import datasets, linear_model

import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [3]:
iris = sns.load_dataset("iris")

In [4]:
iris.sample(10)

     sepal_length  sepal_width  petal_length  petal_width     species
83            6.0          2.7           5.1          1.6  versicolor
54            6.5          2.8           4.6          1.5  versicolor
86            6.7          3.1           4.7          1.5  versicolor
39            5.1          3.4           1.5          0.2      setosa
114           5.8          2.8           5.1          2.4   virginica
109           7.2          3.6           6.1          2.5   virginica
66            5.6          3.0           4.5          1.5  versicolor
16            5.4          3.9           1.3          0.4      setosa
6             4.6          3.4           1.4          0.3      setosa
145           6.7          3.0           5.2          2.3   virginica

In [5]:
 iris.sample(10)
 a=[]
 b=[]
 c=[]
 for i in (iris["species"]):
        if i=="setosa":
            a.append(1)
        else:
            a.append(0)
        if i=="virginica":
            b.append(1)
        else:
            b.append(0)
        if i=="versicolor":
            c.append(1)
        else:
            c.append(0)
            
            
            
            
a

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [11]:
iris["setosa"]=a
iris["versicolor"]=b
iris["virginica"]=c

In [12]:
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,setosa,versicolor,virginica
0,5.1,3.5,1.4,0.2,setosa,1,0,0
1,4.9,3.0,1.4,0.2,setosa,1,0,0
2,4.7,3.2,1.3,0.2,setosa,1,0,0
3,4.6,3.1,1.5,0.2,setosa,1,0,0
4,5.0,3.6,1.4,0.2,setosa,1,0,0

# make some transformation so that our data looks like the following

In [20]:
iris.sample(10)

     sepal_length  sepal_width  petal_length  petal_width     species
49            5.0          3.3           1.4          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
137           6.4          3.1           5.5          1.8   virginica
110           6.5          3.2           5.1          2.0   virginica
44            5.1          3.8           1.9          0.4      setosa
47            4.6          3.2           1.4          0.2      setosa
145           6.7          3.0           5.2          2.3   virginica
35            5.0          3.2           1.2          0.2      setosa
81            5.5          2.4           3.7          1.0  versicolor
92            5.8          2.6           4.0          1.2  versicolor

# 7) regression analysis

#

In [7]:
data=pd.read_csv("exam_prime.csv")

In [56]:
data.head()

         x1        x2           y
0  0.167868  6.486372   20.578304
1 -6.592202  3.817392  176.478783
2  6.722201 -0.496103  188.563585
3 -9.239084 -8.382700  332.101842
4 -4.789002 -4.842578   90.778703

In [22]:
data_x=data[["x1" ,"x2"]]
data_y=data["y"]


#X_=data_x
X=sm.add_constant(data_x)
y=data_y
print(X)

     const        x1        x2
0      1.0  0.167868  6.486372
1      1.0 -6.592202  3.817392
2      1.0  6.722201 -0.496103
3      1.0 -9.239084 -8.382700
4      1.0 -4.789002 -4.842578
5      1.0  7.966710 -1.330225
6      1.0  5.187693  9.948532
7      1.0 -2.008676 -1.079172
8      1.0  8.964692  8.717779
9      1.0  1.913477  7.976069
10     1.0  1.896822  1.017956
11     1.0 -1.562388  1.609104
12     1.0  3.867070  8.027290
13     1.0 -4.891921  0.492304
14     1.0 -7.054215  8.514014
15     1.0 -3.316889 -3.657558
16     1.0 -2.581983 -3.811899
17     1.0  1.761636  8.975105
18     1.0  0.104350 -4.159658
19     1.0  8.491049 -2.777279
20     1.0  2.035864 -0.907512
21     1.0 -7.419273 -0.965361
22     1.0  1.929092 -8.402730
23     1.0  9.977323  7.087309
24     1.0 -3.640064  0.159125
25     1.0 -4.795008  7.195954
26     1.0 -4.454028 -7.524410
27     1.0 -1.940656 -4.254485
28     1.0  9.728250  0.251650
29     1.0  5.596335 -9.110531
..     ...       ...       ...
270    1.0  2.284621  2.577111
271    1.0 -9.548171  3.081895
272    1.0  3.310316  4.821813
273    1.0  0.779876 -0.654429
274    1.0  9.845624 -9.732539
275    1.0 -5.698366 -6.302906
276    1.0 -7.925448  1.562023
277    1.0  6.954635  7.272969
278    1.0 -2.845747 -5.292031
279    1.0 -4.743723  4.921885
280    1.0  7.768945 -2.594945
281    1.0 -2.901236  6.854960
282    1.0  9.569771  7.085819
283    1.0  9.317632  3.469033
284    1.0 -7.769549 -2.281950
285    1.0  5.629200  2.701291
286    1.0  9.966092  4.763051
287    1.0  7.842527 -1.249945
288    1.0 -0.129942 -6.785818
289    1.0  4.109584  3.684276
290    1.0  6.176426 -1.468080
291    1.0 -9.040444 -3.150213
292    1.0 -4.707864  2.461963
293    1.0 -8.791356 -1.501394
294    1.0 -6.144484  3.140954
295    1.0  6.471731 -9.735777
296    1.0  2.431960 -3.174406
297    1.0  7.265221 -8.626734
298    1.0  4.635340 -3.707457
299    1.0  4.473310 -1.592950

[300 rows x 3 columns]

In [65]:
model=sm.OLS(y,X).fit()
predictions=model.predict(X)
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.057
Model:                            OLS   Adj. R-squared:                  0.051
Method:                 Least Squares   F-statistic:                     8.991
Date:                Tue, 29 Oct 2019   Prob (F-statistic):           0.000162
Time:                        12:13:47   Log-Likelihood:                -1870.7
No. Observations:                 300   AIC:                             3747.
Df Residuals:                     297   BIC:                             3758.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        145.7259      7.191     20.266      0.000     131.575     159.877
x1             4.0245      1.207      3.334      0.001       1.649       6.400
x2             3.2030      1.294      2.475      0.014       0.656       5.750
==============================================================================
Omnibus:                       44.389   Durbin-Watson:                   2.080
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               27.511
Skew:                           0.608   Prob(JB):                     1.06e-06
Kurtosis:                       2.150   Cond. No.                         6.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [9]:
regr = LinearRegression()

In [11]:
data["sqr_x1"]=np.array(data.x1)**2

In [12]:
data.head()

         x1        x2           y     sqr_x1
0  0.167868  6.486372   20.578304   0.028180
1 -6.592202  3.817392  176.478783  43.457127
2  6.722201 -0.496103  188.563585  45.187992
3 -9.239084 -8.382700  332.101842  85.360679
4 -4.789002 -4.842578   90.778703  22.934540

In [13]:
data["cub_x1"]=np.array(data.x1)**3

In [14]:
data.head()

         x1        x2           y     sqr_x1      cub_x1
0  0.167868  6.486372   20.578304   0.028180    0.004730
1 -6.592202  3.817392  176.478783  43.457127 -286.478159
2  6.722201 -0.496103  188.563585  45.187992  303.762782
3 -9.239084 -8.382700  332.101842  85.360679 -788.654516
4 -4.789002 -4.842578   90.778703  22.934540 -109.833560

In [15]:
z=data[["x1","sqr_x1","cub_x1"]]
t=data["y"]

In [16]:
regr.fit(np.array(z),np.array(t))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
pred_y=regr.predict(np.array(z).reshape(-1,3))

In [18]:
pred_y

array([  3.69870513, 177.42787064, 185.20394564, 341.96341156,
        96.10725853, 259.77371568, 111.05889716,  20.35977675,
       328.98481881,  17.77856838,  17.52786751,  13.87095206,
        62.85835772, 100.07129461, 202.2959699 ,  48.44636756,
        31.00782001,  15.57620467,   3.649003  , 295.08890052,
        19.68983327, 223.1020708 ,  18.01565862, 407.83102973,
        57.45797277,  96.33631062,  83.77580611,  19.26887872,
       387.62957271, 128.89248803, 224.22769802, 251.53354703,
       298.40131669, 403.45774635,   3.65143083, 132.68063334,
       232.65326989, 240.83037255,  40.56502296,  49.56548348,
       348.13550902,  97.63261234, 181.15400247, 144.34761016,
        26.52435257,  76.02228799, 390.49748487, 188.45296666,
       354.77282812, 334.63092364, 127.16845011, 217.86009173,
       114.43349602,  65.58802628, 150.10282733, 355.30170838,
        35.53916347,  28.71914876,  78.35220007,  90.12716579,
        28.19349247, 160.38460408, 269.30017496, 390.97683234,
        39.74947767, 395.96450496, 324.75166713, 372.60056953,
        49.25574711,   6.51520161, 132.24154374, 389.85042019,
        82.00312907,   7.1493711 , 395.45265455, 124.63060028,
        29.71171176,  20.31549277,  75.58519397, 157.81589289,
        48.67304797, 320.03412087, 242.9758927 ,  36.38324513,
        64.00692227, 272.86201846, 223.1559305 , 127.51168706,
       202.72761187, 367.49985679,  73.71189192,  25.1630434 ,
       184.28389475,  76.14202558, 111.01667683, 245.07232444,
       123.1643594 , 306.6705014 ,  21.79292409, 298.64510293,
         6.80289393,   4.81409178, 260.57974294, 266.02462871,
       172.79472882,  46.62013036, 281.59947052, 152.25580463,
        79.3857574 , 137.45589779, 116.27220849,  26.62612887,
        27.60008951, 168.10452792,   4.44672562,  76.40761845,
       259.46510321,  47.8474371 ,  18.53941973, 239.95273062,
        83.05114172,  14.38448486, 383.36661955, 143.79264393,
       141.14718766, 102.36340396, 358.58414985, 247.25684993,
        35.09938033, 345.40476355, 219.3757788 ,  20.38806329,
       118.44760908,  88.20944412, 293.54760211,   4.73686625,
         5.12760732,  48.88537413,  30.12041931,  15.73647804,
        14.95784794, 339.13163122, 186.74027448,  82.71118234,
       218.09954245, 377.20187211, 207.24455676,  49.21468824,
       248.91427891,  23.98450136,  12.04060327,   5.24395556,
       370.81591015, 157.73910946, 114.96384693, 290.4389968 ,
       116.69845517, 133.5164553 ,  66.09147779,  36.28974823,
        44.35982609, 153.86057592,  68.29846195,  80.58683511,
       277.45412038,  29.26443267,   7.98363919,   5.39810944,
         7.71623139, 161.47893109,  39.08433033,   3.796616  ,
       167.90116453, 257.36496356,  21.27913801,  25.69393763,
       390.08232109, 212.11201038, 169.38368987,  76.22099352,
       155.65787817, 233.23306782,  43.0919621 , 355.09529825,
        36.23924369, 381.87843891,   3.88356915,   3.69452735,
        40.09264332,   4.51193134,  34.22142495,  17.89683679,
       196.85552934, 177.13140889,   8.34623985,  74.65942861,
        36.07522849,   3.67044461,   5.57501746,  98.01831277,
        37.2991782 ,   7.60797341, 221.47923012,  26.43075728,
        81.41235205,  15.35578103, 304.46125854, 326.080993  ,
        16.21865193, 135.43680891, 137.19687633,  37.63658871,
         8.75282803, 372.8611487 ,  17.06359141, 218.63390624,
        24.95106327, 202.29947416,   3.6480656 , 152.25022644,
       382.41630207,  54.90402115, 391.71674898,  81.12191636,
       326.54193697,  34.11320167, 398.28585576, 335.67763336,
       219.82410649, 368.01623963,  19.52389347,  54.07779407,
        58.91977084, 262.96926348, 359.49738723, 270.96243528,
        12.75000258, 360.57677098,  28.74644535,  82.49344555,
         4.00882724, 121.81722661, 208.16957045,  65.73605307,
        39.79196312,  58.67258387,   5.47033858,  79.69363979,
        88.59132296, 373.11762471, 221.81397739,  18.99530958,
       182.91428017, 129.5717746 , 320.80411335,  22.20227203,
       375.5737973 ,   6.15422948,  14.84581411,  86.52249401,
        15.13954406,  50.66294639, 360.16415368,   5.72827084,
         4.02986047, 274.76463722, 310.1744713 , 328.01189597,
         4.30293711, 104.05951452,  23.94937215, 364.64383743,
        46.83509886,   5.83808421, 397.08358348, 133.97672676,
       253.63540942, 198.14568312,  36.7777588 ,  94.3893571 ,
       247.05518027,  38.06136355, 375.05060177, 355.4773901 ,
       244.0230557 , 130.38687805, 406.9087057 , 251.74892454,
         3.74538237,  70.63303319, 156.58847052, 327.76804287,
        93.04020248, 310.3892144 , 154.89387538, 171.76310494,
        26.70950668, 216.1444066 ,  89.14955299,  83.2003157 ])

In [84]:
regr.score(np.array(z).reshape(-1,3),np.array(y).reshape(-1,1))

0.9906925927309089

In [19]:
data_x=data[["x1" ,"x2","sqr_x1","cub_x1"]]
data_y=data["y"]


#X_=data_x
X=sm.add_constant(data_x)
y=data_y

C:\Users\sorre\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [20]:
data_x

           x1        x2     sqr_x1      cub_x1
0    0.167868  6.486372   0.028180    0.004730
1   -6.592202  3.817392  43.457127 -286.478159
2    6.722201 -0.496103  45.187992  303.762782
3   -9.239084 -8.382700  85.360679 -788.654516
4   -4.789002 -4.842578  22.934540 -109.833560
5    7.966710 -1.330225  63.468472  505.634921
6    5.187693  9.948532  26.912159  139.612016
7   -2.008676 -1.079172   4.034778   -8.104562
8    8.964692  8.717779  80.365706  720.453813
9    1.913477  7.976069   3.661394    7.005994
10   1.896822  1.017956   3.597933    6.824639
11  -1.562388  1.609104   2.441056   -3.813876
12   3.867070  8.027290  14.954227   57.829034
13  -4.891921  0.492304  23.930890 -117.068024
14  -7.054215  8.514014  49.761948 -351.031476
15  -3.316889 -3.657558  11.001750  -36.491581
16  -2.581983 -3.811899   6.666637  -17.213145
17   1.761636  8.975105   3.103361    5.466993
18   0.104350 -4.159658   0.010889    0.001136
19   8.491049 -2.777279  72.097911  612.186887
20   2.035864 -0.907512   4.144743    8.438134
21  -7.419273 -0.965361  55.045616 -408.398466
22   1.929092 -8.402730   3.721396    7.178916
23   9.977323  7.087309  99.546984  993.212456
24  -3.640064  0.159125  13.250062  -48.231068
25  -4.795008  7.195954  22.992098 -110.247288
26  -4.454028 -7.524410  19.838365  -88.360633
27  -1.940656 -4.254485   3.766146   -7.308795
28   9.728250  0.251650  94.638847  920.670361
29   5.596335 -9.110531  31.318970  175.271460
..        ...       ...        ...         ...
270  2.284621  2.577111   5.219491   11.924557
271 -9.548171  3.081895  91.167575 -870.483618
272  3.310316  4.821813  10.958193   36.275083
273  0.779876 -0.654429   0.608207    0.474326
274  9.845624 -9.732539  96.936314  954.398503
275 -5.698366 -6.302906  32.471370 -185.033735
276 -7.925448  1.562023  62.812732 -497.819063
277  6.954635  7.272969  48.366949  336.374480
278 -2.845747 -5.292031   8.098276  -23.045644
279 -4.743723  4.921885  22.502906 -106.747545
280  7.768945 -2.594945  60.356502  468.906323
281 -2.901236  6.854960   8.417171  -24.420201
282  9.569771  7.085819  91.580512  876.404501
283  9.317632  3.469033  86.818271  808.940723
284 -7.769549 -2.281950  60.365895 -469.015793
285  5.629200  2.701291  31.687892  178.377477
286  9.966092  4.763051  99.322987  989.862020
287  7.842527 -1.249945  61.505231  482.356443
288 -0.129942 -6.785818   0.016885   -0.002194
289  4.109584  3.684276  16.888679   69.405441
290  6.176426 -1.468080  38.148244  235.619824
291 -9.040444 -3.150213  81.729624 -738.872067
292 -4.707864  2.461963  22.163988 -104.345053
293 -8.791356 -1.501394  77.287946 -679.465871
294 -6.144484  3.140954  37.754687 -231.983078
295  6.471731 -9.735777  41.883300  271.057446
296  2.431960 -3.174406   5.914430   14.383657
297  7.265221 -8.626734  52.783435  383.483315
298  4.635340 -3.707457  21.486377   99.596660
299  4.473310 -1.592950  20.010500   89.513164

[300 rows x 4 columns]